@sprite .footerSprite { 
	gwt-image: "footer"; 
} 

.fbRootPanelStyle {
	
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
	line-height: 1.28;
}

.fbRootPanelStyle td {
	
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    
	
}


.fbRootPanelStyle a {
	
	text-decoration: none;
    color: #3B5998;
    cursor: pointer;
	
}


.fbRootPanelStyle img {
	
	border: 0;
	
}


.fbRootPanelStyle a:hover {

	text-decoration: underline;	
}

.btnAllBorder {
	border-width: 1px;
}
	


.displayNone { display: none; }
.displayBlock { display: block; }
.displayInline { display: inline; }
	
.widthAuto { width: auto; }

.tinyBox { width: 1.4em; border: 0; }
.smallBox { width: 5.5em; }
.longBox { width: 12em; }

.rightAlign { text-align: right; }
.leftAlign { text-align: left; }
.centerAlign { text-align: center; }

.rightFloat { float: right; }
.leftFloat { float: left; }

.flowHorizontal * { display: inline; float: left }
.flowVertical * { display: block; }

.boldFont { font-weight: bold; }

.fbTextBox{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    
	border: 1px solid #BDC7D8;
    background-color: #FFFFFF;
	padding: 3px 4px;
}



.fbFakeTextBoxSuggest{
	border: 1px solid #BDC7D8;
    background-color: #FFFFFF;
	padding: 0 4px 0 2px;
	min-height: 18px;
}

.fbFakeTextBox{
	border: 1px solid #BDC7D8;
    background-color: #FFFFFF;
	min-height: 18px;
}


.timeBox {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.timeBox input {
	font-size: 110;
	margin: 0px 2px 0px 2px;
	border-color: #CCCCCC;
}
/* Generally applied at a top level DOM element, so all
  boxes have this 'inset' style */
.insetInputBoxes input { 	
	box-shadow: rgba(0,0,0,0.3) -1px 1px 3px inset;
	-moz-box-shadow: rgba(0,0,0,0.3) -1x 1px 3px inset;
	-webkit-box-shadow: rgba(0,0,0,0.3) -1x 1px 3px inset;
	margin: 0px;
	padding: 3px;
	border: 1px solid;		
}

.insetBorder {
	box-shadow: rgba(0,0,0,0.3) -1px 1px 3px inset;
	-moz-box-shadow: rgba(0,0,0,0.3) -1x 1px 3px inset;
	-webkit-box-shadow: rgba(0,0,0,0.3) -1x 1px 3px inset;
	margin: 0px;
	padding: 3px;
	border: 1px solid;		
}

.navButton { 
	border-color: red;
	border-style: solid;
	border-width: 2px;
}


/* uiButton directly ripped from facebooks css!  (the 'like' button) */
@external .uiButton
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover 
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/zf/r/_IKHHfAgFQe.png");
    background-position: 0 -49px;
    background-repeat: no-repeat;
    border-color: #999999 #999999 #888888;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: normal !important;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.suggestInput {
	
	background-color: white;
	border: 1px grey solid;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:	12px;
	color:	#1C2A47;
	
}

.suggestName {
	
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color:	#1C2A47;
	background-color:	#E2E6F0;

	margin: 0 4px 0 2px;
	
	border-color: #9DACCC;
	border-style: solid;
	border-width: 1px;
	padding-left: 3px;
	padding-right: 6px;
	
	display: inline;
	/*white-space: nowrap;*/
	
}

/*.xableItemX, .xableItemX:hover {
	background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/yx/r/ogYrclupeJV.png");
	width: 11px;
	height: 12px;
	display: inline-block;
}

.xableItemX:hover {
	background-position-y: 12px;
}*/

.xableItemTable 
{
	background-color: #E2E6F0;
	border-color: #9DACCC;
	border-style: solid;
	border-width: 1px;
	display: inline; 
	margin: 2px;
}
.xableItemTable * {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color:	#1C2A47;
}

@sprite .xableItemXsprite {
	gwt-image: "xableImages";
	width: 11px;
	height: 12px;
	display: inline-block;
}
/* Im hoping this will work all the time, but the Dev Guide isn't exactly
 * clear on whether it handles things like this ok. */
.xableItemXsprite:hover {
	background-position: 0px -12px;
}

.suggestNameX {
 
	
}

.updateStatus {
	background-image:	url("http://static.ak.fbcdn.net/rsrc.php/v1/yj/r/hay0UmRlKwV.png");
	background-position:	-17px -182px;
	width:	16px;
	height:	16px;
}



.fbNotchedBox {
	
	border: 1px solid #B4BBCD;
	
	position: relative;
}
.fbNotchedBox:after, .fbNotchedBox:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	bottom: 100%;
	position: absolute;
	width: 0;
}

.fbNotchedBox:after {
	border-width: 5px;
	border-bottom-color: #FFF;
	left: 5px;
}

.fbNotchedBox:before {
	border-width: 6px;
	border-bottom-color: #B4BBCD;
	left: 4px;
}

.tagFriendsNotch:after {
	left: 5px;
}

.tagFriendsNotch:before {
	left: 4px;
}

.newCommentNotch:after {
	left: 131px;
}

.newCommentNotch:before {
	left: 130px;
}

.alterResNotch:after {
	left: 244px;
}

.alterResNotch:before {
	left: 243px;
}

.manageResNotch:after {
	left: 5px;
}

.manageResNotch:before {
	left: 4px;
}

.sendMessageNotch:after {
	left: 1340x;
}

.sendMessageNotch:before {
	left: 139px;
}

.privateNoteNotch:after {
	left: 239px;
}

.privateNoteNotch:before {
	left: 238px;
}

.fbBlueLink {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #3B5998;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

.fbBlueLink:hover {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #3B5998;
    cursor: pointer;
	text-decoration: underline;
	font-weight: 400;
}


.migratedCanvasPage {
	
	width: 520px;
	margin: 0 25px 0 75px;
	
}

.canvasBody {
	
	background: none repeat scroll 0 0 #E7EBF2;
	position: absolute;
	text-align:center;
}

.canvasContent {
	margin:25px auto;
	text-align:left;
	position: relative;

	
	background: url("http://static.ak.fbcdn.net/rsrc.php/v1/yd/r/QzmkzK8kmHk.png") repeat-y scroll 0 0 #FFFFFF;
	
	border: 1px solid #D9D9D9;
    
	border-color: #C4CDE0;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
    
    padding: 25px 20px 20px;
}


	.configPage {
		
		border-top: 1px solid #B3B3B3;
		padding: 20px;
		background-color: #F2F2F2;
		
	}
	
	.configPageSection {
	
		border-top: 1px solid #D9D9D9;
	   	margin: 10px 0;
		padding: 10px 0;
	}
	
	
	.configPageItemLabel {
		vertical-align:top;
		color: #666666;
	    font-weight: bold;
	    padding-right: 10px;
	    text-align: right;
	    width: 165px;
	    padding-top:5px;
	}
	 
	.configPageTextBox {
	
		width: 250px;
	
	}
	
	
	
	
	/* [?] for QuestionMark.java toolTipPopup */
	.helpMark {	
		
		background: url("https://s-static.ak.facebook.com/rsrc.php/v1/yt/r/7rpZ7CHyvX7.gif") no-repeat scroll 0 center transparent;
	    display: inline-block;
	    height: 9px;
	    width: 12px;
	    position: relative;
	
	}
	
	

/* banner gradient background for canvas page */
@sprite .bannerBackground {
   gwt-image:'bannerGradient';
   background-repeat: repeat-x;
}



/* styling for schdeule table on config page */
.scheduleTable td {

	padding:3px;
	padding-right: 5px;

}

.scheduleTableLabel td {
	
	vertical-align:top;
	padding-top: 10px;

}
	

.square25rightpadding1 {
	width: 25px;
	height: 25px;
	padding-right:1px;
}

.square50rightpadding3 {
	width: 50px;
	height: 50px;
	padding-right:3px;
}





		.settingsTable {
		padding:5px 10px;
		margin:0;
		width: 100%;
		border-collapse: collapse;
		cellspacing:0;
		border-top: 1px
		solid #aaa;
		border-bottom: 1px solid #aaa;
		}

		.settingsTable tr {
		height:
		34px;
		border-top: 1px solid #e9e9e9;
		}

		.settingsTable tr:hover {
		background-color: #f7f7f7;
		}

		.settingsTable th
		{
		vertical-align: top;
		padding-top: 10px;
		font-weight: bold;
		color: #333;
		padding-left: 10px;
		}

		.settingsTable td {
		padding: 10px;
		}

		.loginButton {
		margin-left:50px;
		}
		.inline{
		display: inline-block;
		}
