
.tabLayoutPanel { }

.tabLayoutPanelTabs {
  /*height: 2em;*/
  padding-top: 0px;
  padding-left: 0px;
  background: none;
}

.tabLayoutPanelContentContainer {
  border-style: none;
  background: none;
}
.tabLayoutPanelContent {
  border-style: none; 
  overflow: hidden;
  padding: 0px;
  background: none;
  /*padding-top: 4px;*/
}
.tabLayoutPanel .tabLayoutPanelTab {
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: none;	
}
.tabLayoutPanel .tabLayoutPanelTabSelected {
  cursor: default;
  background: black;
  color: white;
  font-weight: bold;
}

