body, table td, select, button {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 1.28;
}



.greenButton {
			font-family:	"lucida grande",tahoma,verdana,arial,sans-serif;
			font-size:	12px;
			
			text-align:	center;
			background-color:	#69A74E;
			background-image:	url(//www.facebook.com/rsrc.php/v2/yC/r/Dsi_TEyAAzN.png);
			background-repeat:	no-repeat;
			background-position: -352px -250px;
			
			margin: 0;
			padding: 4px 8px 4px 8px;
			
			border-width:	1px;
			border-style:	solid;
			border-color: #3B6E22;
			border-bottom-color: #2C5115;
			
			
			box-shadow:	rgba(0, 0, 0, 0.1) 0 1px 0 0;
			text-decoration:none;
			color:	#FFFFFF;
			width:auto;
			margin:	0 0 -1px 0;
			padding: 1px 0 2px 0;
			border-width:	1px;
			cursor:	pointer;
						
			border-radius: 0px;
			font-weight: bold;
			
		}
		
		

#addlink{
	
	text-decoration:none; 
	color:#FFFFFF; 
	margin-left:5px; 
	margin-right:5px;
	
	}
	
	
	.test {
		color: black;
	}
	