@url questionmark questionMark;
	/* [?] for QuestionMark.java toolTipPopup */
.helpMark {
	background-image: questionmark;
	/* no-repeat scroll 0 center transparent; */
	display: inline-block;
	height: 9px;
	width: 12px;
	position: relative;
}