@url questionmark questionMark;
	/* [?] for QuestionMark.java toolTipPopup */
.helpMark {
	background-image: questionmark;
	/* no-repeat scroll 0 center transparent; */
	display: inline-block;
	height: 9px;
	width: 12px;
	position: relative;
}

.infoLabel {
	padding:10px;
	background-color: #fff9d7;
	border: 1px solid #e2c822;
	color: #333;
}